@font-face{
font-family:"AromaNo2LTW01-ExtraBold";
src:url("../../Fonts/49bc82f8-3dee-42ae-bcfe-e4fb1671d14e.eot?#iefix");
src:url("../../Fonts/49bc82f8-3dee-42ae-bcfe-e4fb1671d14e.eot?#iefix") format("eot"),url("../../Fonts/62f7045c-138e-4eb9-828a-1d77e62d7aa0.woff") format("woff"),url("../../Fonts/8860a17c-8d27-4363-a249-ac16b17b46f4.ttf") format("truetype"),url("../../Fonts/93284c47-04a5-4f46-86d6-cd2e5180bedb.svg#93284c47-04a5-4f46-86d6-cd2e5180bedb") format("svg");
}
@font-face{
font-family:"Nicholas W01 Bold";
src:url("../../Fonts/88afafde-a6aa-4079-b719-ca5c95e3a9a5.eot?#iefix");
src:url("../../Fonts/88afafde-a6aa-4079-b719-ca5c95e3a9a5.eot?#iefix") format("eot"),url("../../Fonts/ebe1a45b-3cd3-4510-a698-51184a322df1.woff") format("woff"),url("../../Fonts/ff73dfe1-8bb0-4371-aeb7-3fe814f5016c.ttf") format("truetype"),url("../../Fonts/3c13d7ac-8590-4e1b-9f20-a0efd45f92cf.svg#3c13d7ac-8590-4e1b-9f20-a0efd45f92cf") format("svg");
}
@font-face{
font-family:"Nicholas W01 Italic";
src:url("../../Fonts/14c9f1b0-3d99-4f72-9212-db4111dc6411.eot?#iefix");
src:url("../../Fonts/14c9f1b0-3d99-4f72-9212-db4111dc6411.eot?#iefix") format("eot"),url("../../Fonts/ab97c834-0e96-44bd-9d5c-a8d5d6b74a6f.woff") format("woff"),url("../../Fonts/d324bca0-74b8-4104-a76e-466bc84cef7b.ttf") format("truetype"),url("../../Fonts/4773e6cb-8b13-4bcb-817a-294446493ad9.svg#4773e6cb-8b13-4bcb-817a-294446493ad9") format("svg");
}
@font-face{
font-family:"Humanist 521 W01 Bold";
src:url("../../Fonts/2f36bf68-bde9-4e43-b569-9e4c0b263a4f.eot?#iefix");
src:url("../../Fonts/2f36bf68-bde9-4e43-b569-9e4c0b263a4f.eot?#iefix") format("eot"),url("../../Fonts/fa751db9-01d1-4f5a-b395-91c4281f996d.woff") format("woff"),url("../../Fonts/c9175e96-4311-44b6-a7fe-648dea3155f4.ttf") format("truetype"),url("../../Fonts/bcd8cb8b-3a1d-42c0-8846-974a6996b908.svg#bcd8cb8b-3a1d-42c0-8846-974a6996b908") format("svg");
}
@font-face{
font-family:"Beaufort W01 Regular1339698";
src:url("../../Fonts/54c5d828-320b-4eed-b60b-6b6dd9d28ffb.eot?#iefix");
src:url("../../Fonts/54c5d828-320b-4eed-b60b-6b6dd9d28ffb.eot?#iefix") format("eot"),url("../../Fonts/bee31280-83bf-4a1a-9968-84700dfc6dfb.woff") format("woff"),url("../../Fonts/8256dd58-6870-46bf-8467-4b58a2458789.ttf") format("truetype"),url("../../Fonts/5b345501-c12f-4bf5-bfbe-8e2bf4f7d4b9.svg#5b345501-c12f-4bf5-bfbe-8e2bf4f7d4b9") format("svg");
}
@font-face{
font-family:"Beaufort W01 Italic1339688";
src:url("../../Fonts/db744496-447d-42bf-a930-37715354f58f.eot?#iefix");
src:url("../../Fonts/db744496-447d-42bf-a930-37715354f58f.eot?#iefix") format("eot"),url("../../Fonts/461e7223-34cc-48cb-adc1-3693de1cb3b8.woff") format("woff"),url("../../Fonts/0a16b803-9a8d-4374-b1f9-4140208bb819.ttf") format("truetype"),url("../../Fonts/73015763-20b7-4b4b-8585-13ce6b4b0015.svg#73015763-20b7-4b4b-8585-13ce6b4b0015") format("svg");
}